
.loading
{
    position:fixed;
    z-index:9999;
    width: 100%;
    height:100%;
    background:hsla(0,0%,100%,.9);
    display: flex;
    justify-content: center;
    align-items: center; 
    animation-delay:2s;
    animation: ciao 1.5s both; 
}
.lettre 
{
    color:$color-tertiary;
    font-family: 'shrikhand', 'Courier New', Courier, monospace,sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
    margin-bottom: 50px;
    animation: flash 1.5s linear both;
    @media (min-width:1024px)
    {
       font-size: 80px;
    }   
}
@keyframes flash {
   0%{ color:$color-secondary;
    text-shadow: 0 0 9px violet;
   }
   50% {
    color:$color-primary;
    text-shadow:none;
   }

   100%{
    color:$color-secondary;
    text-shadow: 0 0 9px violet;
   }
}
@keyframes ciao {
    0%{opacity: 1;}
    99%{opacity: 1;}
   100%{opacity: 0;
        display:none;
        z-index:-100;}   

}



.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}



.menu:nth-child(2){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay:  0.1s;
}
.menu:nth-child(3){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay: 0.4s;
}
.menu:nth-child(4){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay: 0.7s;
}
@keyframes itemAppear{
    0% {
        transform: scale(0);
    }
      100% {
        transform: scale(1);
      }
      
}
.slide{
    width: 0%;
    display: flex;
    color: white;
    font-size: 0%;
    cursor: pointer;
}

.choice:hover{
    .slide{
    width:5%;
    color: white;
    background-color: $color-tertiary;
    font-size: 1.49em;
    padding: 1em;
    border-radius: 0px 20px 20px 0px;
    float: right;
    transition:.3s ease-out;
    .fa-check-circle{
    transform:rotate(1turn);
    transition-duration: 1s;
    color: white; 
    float: right;
    }
}
}

.heart{
    position: relative;
    right: 9%;
    top: -69%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: end;
    cursor: pointer;
   
    .vide{  
    font-size: 1.5em;
    position: absolute;
    color:black;
    }
    .plein{ 
    font-size: 1.5em;
    position: absolute;
    -webkit-text-fill-color:transparent;
    animation:love 1s ease-in-out;
    }
    &:hover{
    .plein{    
    animation:love 1s ease-in-out;
    background:$deg;
    -webkit-background-clip:text;
    }
    .vide{
    animation:lovelove ease-out;
    -webkit-text-fill-color:transparent;
    }
    }
    @keyframes love{
        0%{opacity: 0;}
       100%{opacity: 1;}   
    
    }
     
    @keyframes lovelove{
        0%{opacity: 1;}
       100%{opacity: 0;}   
    
    }
    
}
.hearty{
    position:absolute;
    left:85%;
    top:4.5%;
    }