
.loading
{
    width: 100%;
    background:hsla(0,0%,100%,.9);
    display: flex;
    justify-content: center;
    align-items: center;    
}
.lettre 
{
    color:$color-tertiary;
    font-family: 'shrikhand', 'Courier New', Courier, monospace,sans-serif;
    font-size: 30px;
    letter-spacing: 15px;
    margin-bottom: 50px;
    animation: flash 2s linear both;
    @media (min-width:1024px)
    {
       font-size: 80px;
    }   
}
@keyframes flash {
   0%{ color:$color-tertiary;
    text-shadow: 0 0 7px #fff900;
   }
   50% {
    color:$color-primary;
    text-shadow:none;
   }

   100%{
    color:$color-secondary;
    text-shadow: 0 0 7px #fff900;
   }
   0%{opacity: 1;}
   100%{opacity: 0;}   
}



.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.25s;
}
.lettre:nth-child(3){
    animation-delay: 0.75s;
}
.lettre:nth-child(4){
    animation-delay: 1s;
}
.lettre:nth-child(5){
    animation-delay: 1.25s;
}
.lettre:nth-child(6){
    animation-delay: 1.50s;
}
.lettre:nth-child(7){
    animation-delay: 1.75s;
}
.lettre:nth-child(8){
    animation-delay: 2s;
}



.menu:nth-child(2){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay:  0.1s;
}
.menu:nth-child(3){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay: 0.4s;
}
.menu:nth-child(4){
    animation: itemAppear 1s linear;
    animation-timing-function: cubic-bezier(.5,1.58,.34,.82);
    animation-fill-mode: both;
    animation-delay: 0.7s;
}
@keyframes itemAppear{
    0% {
        transform: scale(0);
    }
      100% {
        transform: scale(1);
      }
      
}
.slide{
    width: 0%;
    display: flex;
    color: white;
    font-size: 0%;
    cursor: pointer;
}

.choice:hover{
    .slide{
    width:5%;
    color: white;
    background-color: $color-tertiary;
    font-size: 1.49em;
    padding: 1em;
    border-radius: 0px 20px 20px 0px;
    float: right;
    transition:.3s;
    .fa-check-circle{
    transform: rotate(360deg);
    transition-duration: .2s;
    color: white; 
    float: right;
    }
}
}
.heart{
    position: relative;
    right: 9%;
    top: -69%;
    display: flex;
    float: right;
    align-items: center;
    justify-content: end;
    cursor: pointer;
   
.love{  
    font-size: 1.5em;
    position: absolute;
    z-index: 0;
    color: black;
    :hover{
    -webkit-text-fill-color: transparent;
    opacity: 0;
    }
}
.like{ 
    font-size: 1.5em;
    position: absolute;
    z-index: 1;
    color: #FF79DA;
    :hover{
    color:#9356DC;
    }
}
@keyframes myheart{
    0%{opacity: 0;}
   100%{opacity: 1;}   

}
} 