.location 
{
    font-size: 1.2em;
    background-color: rgb(234, 234, 234);
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
}
.fa-map-marker-alt{
    padding-right: 5%;
    @media (min-width:1024px){
        padding-right: 1%;
    }

}

.reservation{  
    background-color: $color-back;
    text-align:center;
    font-size: 1em;
    padding: 13%;
    @media (min-width:1024px)
    {
        padding: 5%;
    }
}
.explore
{
    border-radius: 40px;
    background: $deg;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
    width: 13em;
    margin: 0 auto;
    
    @media (min-width:1024px) {
        max-width: 30%;
        text-align: center;
        margin-left: 35%;
        font-size: xx-large;

}
}
.funtions
{
    display: inline;
    font-weight:bold;
    font-size: x-large;

}
.titre-funtions
{
    padding-left: 6%;
    @media (min-width:1024px)
    {
        text-align:center;
        margin-right: 5%;
    }

}
.stepsnumbers
{
    border-radius: 1em;
    position: absolute;
    text-align: center;
    background-color: $color-primary;
    color: white;
    padding: 0.5em 0.8em 0.5em 0.8em;
    font-size: 0.9em;
    left: 4%;
    @media (min-width:1024px)
    {
       display: none;
    }

}
.steps
{
    display: inline-flex;
    width: 80%;
    border-radius: 1.5em;
    padding: 0.5em 5% 0.5em 5%;
    margin: 0em 0em 1em 2em;
    background: $color-back;
    @media (min-width:1024px)
    {
       display: inline-flex;
       padding: 0.5em 2% 0.5em 2%;
       width: 20%;
       text-align: center;
       margin: 2% 0% 2% 7%;
    }
}
.stepicons
{
    color: grey;
    padding: 1.1em;
}

.restaurant
{
    background-color: rgb(240, 238, 238);
    padding: 2em 1em 2em 1em;
}
@media (min-width:1024px)
{  

.title-restaurant{
    text-align: left;
    padding: 3% 0% 3% 10%;
    font-size: xx-large;
}
    
}
.card
{
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: white;
    width: 100%;
    @media (min-width:1024px)
    {
        display: inline-flex;
        flex-direction: column;
        width: 35%;
        margin-left: 10%;
        margin-bottom: 5%;;
    }
   
}
.txt-card
{
    padding-left: 0.5em;
    line-height: 0.2;
    border-radius: 0px 0px 20px 20px;
    background-color:white;
    height: 50px;
}
.love
{ 
    position:absolute;
    background: black;
    right: 9.6%;
    top: 155%;
}
.love-color
{ 
    position:relative;
    left: 90%;
    bottom: 40%;
    font-size: 1.2em;
}
.new-green{
    color: darken($color-tertiary,40%);
    background-color: $color-tertiary;
    padding: 0.5em;
    margin: 1em;
    right: 5%;
    position: absolute;
    @media (min-width:1024px)
    {
        display: none;
    }
}
