.location 
{
    font-size: 1.2em;
    background-color: rgb(234, 234, 234);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: -15px;
    text-align: center;
}
.fa-map-marker-alt{
    padding-right: 7%;
}

.reservation{  
    background-color: $color-back;
    text-align: center;
    padding: 2em;
    font-size: 1em;
}
.explore
{
    border-radius: 40px;
    background: $deg;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    color: white;
}
.functions
{
    padding: 0.5em;
    display: inline;
}
.titlefunctions
{
    padding-left: 1em;
}
.stepsnumbers
{
    border-radius: 1em;
    width: 1em;
    text-align: center;
    background-color: $color-primary;
    color: white;
    padding: 0.5em;
    font-size: 0.9em;
    margin-left: -1.5em;
}
.steps
{
    display: flex;
    flex-wrap: wrap;
    border-radius: 1.5em;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-left: 2em;
    margin-right: 1em;
    background: $color-back;
}
.stepicons
{
    color: grey;
    padding: 1.1em;
}
.restaurant
{
    background-color: rgb(240, 238, 238);
    padding-bottom: 2em;
}
.card
{
    border-radius: 2em;
    margin-bottom: 1em;
    background-color: white;
    width: 100%;
   
}
.txt-card
{
    padding-left: 0.5em;
    line-height: 0.2;
    border-radius: 0px 0px 20px 20px;
    background-color:white;
    height: 60px;
  
}
.love
{ 
    float: right;
    padding-right: 1em;
    font-size: 1.4em;
    #hover{
        background-color:black;
    }
}
.new-green{
    color: darken($color-tertiary,40%);
    background-color: $color-tertiary;
    padding: 0.5em;
    position: relative;
    bottom:6.5em;
    left: 18.5em;

}
