body {
  width: 100%;
  margin: 0 auto;
}

header {
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  text-align: center;
  font-size: 1em;
  height: 3em;
  background-color: white;
}

section, footer {
  font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
}

section {
  padding-left: 1em;
  padding-right: 1em;
}
section a {
  color: black;
}

footer {
  background: #353535;
  padding: 1em;
}
footer a {
  color: white;
}
@media (min-width: 1024px) {
  footer {
    text-align: center;
  }
}

.logofooter {
  font-size: 1em;
  color: white;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
}

.iconsfooter {
  padding-right: 0.5em;
}

.images {
  width: 100%;
  max-height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.err {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

a {
  text-decoration: none;
}

.location {
  font-size: 1.2em;
  background-color: #eaeaea;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}

.fa-map-marker-alt {
  padding-right: 5%;
}
@media (min-width: 1024px) {
  .fa-map-marker-alt {
    padding-right: 1%;
  }
}

.reservation {
  background-color: #f6f6f6;
  text-align: center;
  font-size: 1em;
  padding: 13%;
}
@media (min-width: 1024px) {
  .reservation {
    padding: 5%;
  }
}

.explore {
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  color: white;
  width: 13em;
  margin: 0 auto;
}
@media (min-width: 1024px) {
  .explore {
    max-width: 30%;
    text-align: center;
    margin-left: 35%;
    font-size: xx-large;
  }
}

.funtions {
  display: inline;
  font-weight: bold;
}

.titre-funtions {
  padding-left: 6%;
}
@media (min-width: 1024px) {
  .titre-funtions {
    text-align: center;
    margin-right: 5%;
  }
}

.stepsnumbers {
  border-radius: 1em;
  position: absolute;
  text-align: center;
  background-color: #9356DC;
  color: white;
  padding: 0.5em 0.8em 0.5em 0.8em;
  font-size: 0.9em;
  left: 4%;
}
@media (min-width: 1024px) {
  .stepsnumbers {
    display: none;
  }
}

.steps {
  display: inline-flex;
  width: 80%;
  border-radius: 1.5em;
  padding: 0.5em 5% 0.5em 5%;
  margin: 0em 0em 1em 2em;
  background: #f6f6f6;
}
@media (min-width: 1024px) {
  .steps {
    display: inline-flex;
    padding: 0.5em 2% 0.5em 2%;
    width: 20%;
    text-align: center;
    margin: 2% 0% 2% 7%;
  }
}

.stepicons {
  color: grey;
  padding: 1.1em;
}

.restaurant {
  background-color: #f0eeee;
  padding: 2em 1em 2em 1em;
}

@media (min-width: 1024px) {
  .title-restaurant {
    text-align: left;
    padding: 3% 0% 3% 10%;
    font-size: xx-large;
  }
}
.card {
  border-radius: 2em;
  margin-bottom: 1em;
  background-color: white;
  width: 100%;
}
@media (min-width: 1024px) {
  .card {
    display: inline-flex;
    flex-direction: column;
    width: 35%;
    margin-left: 10%;
    margin-bottom: 5%;
  }
}

.txt-card {
  padding-left: 0.5em;
  line-height: 0.2;
  border-radius: 0px 0px 20px 20px;
  background-color: white;
  height: 50px;
}

.love {
  float: right;
  padding-right: 1em;
  font-size: 1.4em;
}
.love #hover {
  background-color: black;
}

.new-green {
  color: #278870;
  background-color: #99E2D0;
  padding: 0.5em;
  margin: 1em;
  right: 5%;
  position: absolute;
}
@media (min-width: 1024px) {
  .new-green {
    display: none;
  }
}

.picture {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .picture {
    object-fit: cover;
    height: 30em;
  }
}

.picture-err {
  width: 100%;
  height: 190px;
  object-fit: cover;
}
@media (min-width: 1024px) {
  .picture-err {
    object-fit: cover;
    height: 30em;
  }
}

.frenchmenu {
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
  margin-top: -3.5em;
  position: relative;
  padding-bottom: 2em;
}

.header-menu {
  display: inline;
  height: 5em;
  position: relative;
  background-color: white;
  font-size: 1.1em;
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  padding-top: 1em;
  padding-bottom: 1em;
}
.header-menu .fa-arrow-left {
  float: left;
  margin-top: 0.3em;
  margin-left: 1em;
  margin-right: -1.5em;
  font-size: 1.4em;
}

.top {
  display: flex;
  flex-direction: row;
}
.top .name_menu {
  font-family: "Shrikhand", "Courier New", Courier, monospace, sans-serif;
  text-align: left;
  font-size: 1.4em;
  padding-top: 0.5em;
  padding-right: 25%;
}
.top .fa-heart {
  position: absolute;
  font-size: 1.5em;
  top: 3%;
  right: 7%;
}

.choice {
  background-color: white;
  border-radius: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  height: 70px;
  padding-left: 0.5em;
}
.choice .price {
  float: right;
  margin-right: 1em;
  margin-top: -0.3em;
}
.choice .plate {
  padding-top: 0.5em;
  margin: 0 auto;
  font-size: 1.1em;
  line-height: 1.7em;
  padding-right: 12%;
}
.choice .subtitle {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  padding-bottom: 1em;
  padding-right: 3em;
}

.sort {
  border-bottom: 3px solid #99E2D0;
  width: 2.5em;
}

.order {
  border-radius: 40px;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 0.8em;
  color: white;
  text-align: center;
  width: 50%;
  margin-left: 20%;
  font-size: 1.1em;
  font-family: "Roboto", "Courier New", Courier, monospace, sans-serif;
}
@media (min-width: 1024px) {
  .order {
    width: 40%;
    margin-left: 29%;
  }
}

.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9) repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettre {
  color: #99E2D0;
  font-family: "shrikhand", "Courier New", Courier, monospace, sans-serif;
  font-size: 30px;
  letter-spacing: 15px;
  margin-bottom: 50px;
  animation: flash 1.2s linear both;
}
@media (min-width: 1024px) {
  .lettre {
    font-size: 80px;
  }
}

@keyframes flash {
  0% {
    color: #9356DC;
    text-shadow: 0 0 7PX #fff900;
  }
  70% {
    color: #FF79DA;
    text-shadow: none;
  }
  100% {
    color: #99E2D0;
    text-shadow: 0 0 7PX #fff900;
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.loader {
  z-index: 9999;
  position: fixed;
  animation: stop 6s both;
}

@keyframes stop {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
